# File storage
UPLOAD_FOLDER=uploads

# Warehouse
WAREHOUSE_API_URL=https://warehouse
WAREHOUSE_ORGANIZATION_ID=your-organization-id
WAREHOUSE_COUNTERPARTY_ID=your-counterparty-id
WAREHOUSE_STORE_ID=your-store-id
WAREHOUSE_MAIN_STORE_ID=main-store-id
WAREHOUSE_ANDROID_GROUP_ID=android-group-id

# Partners
PARTNERS_API_URL=https://partners

# LLMs
LLM_API_URL=https://llms
LLM_API_KEY=llm-api-key